<!-- this html file specifies the content of password reset email sent to users -->

Someone asked for password reset for email {{ email }}. Follow the link below:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

<!-- default value from django admin site is as below:

    Subject: Password reset on 127.0.0.1:8000
    From: webmaster@localhost
    To: haiwang.pku@gmail.com
    Date: Sun, 12 Aug 2018 16:33:51 -0000
    Message-ID: <153409163132.18896.689299925835132469@LAPTOP-8AE2GN86.london.edu>
    
    
    You're receiving this email because you requested a password reset for your user account at 127.0.0.1:8000.
    
    Please go to the following page and choose a new password:
    
    http://127.0.0.1:8000/accounts/reset/MQ/4yo-16b2171718e875eb6d13/
    
    Your username, in case you've forgotten: admin
    
    Thanks for using our site!
    
    The 127.0.0.1:8000 team
    
-->