{% extends "base_generic.html" %}

{% block content %}
  <form action="" method="post">
  {% csrf_token %}
  <!-- display error massage if value entered is not a valid email (does not check against user DB) -->
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
  
  <!-- Be aware that Django will only send reset emails to addresses (users) that are already stored in its database! -->
  <!-- It provides a better user experience to check entered email against User table and display nonmatch before moving on to password_reset_done page. -->
      <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
{% endblock %}