{% extends "base_generic.html" %}

<!-- this message should be displayed only when email entered by user matched with an existing email in User table -->
<!-- Be aware that Django will only send reset emails to addresses (users) that are already stored in its database! 
    In case of nonexisting email, an error message should be displayed instead -->
{% block content %}
  <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
{% endblock %}