{% extends "base_generic.html" %}

{% block title %}
    <title> Renew Book </title>
{% endblock %}

{% block content %}
    <h1> Renewing Book </h1>
    <br>
    <hr>
    <p><strong> Book: {{book_instance.book.title}} </strong></p>
    <p> Borrower: {{book_instance.borrower}} </p>
    <p {% if book_instance.is_overdue %} class = "text-danger" {% endif %}> Due Date: {{book_instance.due_back}} </p>
    
    <!-- action specifies the resource/URL where data is to be sent for processing when the form is submitted. 
        If this is not set (or set to an empty string), then the form will be submitted back to the current page URL.-->
    <form action="" method="POST">
        <!-- Add the {% csrf_token %} to every Django template you create that uses POST to submit data. This will reduce the chance of forms being hijacked by malicious users. -->
        {% csrf_token %}
        <!-- change style of form display -->
        {% for field in form %}
            <p>
                {{field.label_tag}}<br> 
                {{field}}
                <!-- display help text in gray if there is any -->
                {% if field.help_text %}
                    <!-- user help_text|safe to render html code within help text -->
                    <small style="color:gray">{{field.help_text|safe}}</small> 
                {% endif %}
                <!-- display error message in red if there is any -->
                {% for error in field.errors %}
                    <p style="color:red">{{error}}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    <!-- include a back button to all borrow list -->
    <br>
    <a href="{% url 'all_borrow' %}"><button>Back</button></a>
{% endblock %}