{% extends "base_generic.html" %}

{% block title %}
    <title> Return Book </title>
{% endblock %}

{% block content %}
    <h1> Return Book </h1>
    <br>
    <hr>
    <p>Are you sure to return this book?</p>
    <br>
    <!-- list of detail of the book -->
    <p><strong>Title: </strong> {{returnbook.book.title}} </p>
    <p><strong>Imprint: </strong> {{returnbook.imprint}} </p>
    <!-- disply error message or return button -->
    {% if error %}
        <p style="color:red">{{error}}</p>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <input type='submit' value='Return'>
        </form>
    {% endif %}
    <br>
    <a href="{% url 'my_borrow' %}"><button>Back</button></a>
{% endblock %}