{% extends "base_generic.html" %}

{% block title %}
    <title> Registration </title>
{% endblock %}

{% block content %}
    <h1> Register New Account </h1>
    <br>
    <hr>
    <p> please use form below to register </p>
    <form method="POST">
        {% csrf_token %}
        <!-- change style of form display -->
        {% for field in form %}
            <p>
                {{field.label_tag}}<br> 
                {{field}}
                <!-- display help text in gray if there is any -->
                {% if field.help_text %}
                    <!-- user help_text|safe to render html code within help text -->
                    <small style="color:gray">{{field.help_text|safe}}</small> 
                {% endif %}
                <!-- display error message in red if there is any -->
                {% for error in field.errors %}
                    <p style="color:red">{{error}}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <input type="submit" value="Signup">
    </form>
{% endblock %}